[submodule "deps/GSL"]
	path = deps/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "deps/udis86"]
	path = deps/udis86
	url = https://github.com/vmt/udis86.git
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "deps/discord-rpc"]
	path = deps/discord-rpc
	url = https://github.com/discord/discord-rpc.git
[submodule "deps/asmjit"]
	path = deps/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "deps/WinToast"]
	path = deps/WinToast
	url = https://github.com/mohabouje/WinToast.git
[submodule "deps/sol2"]
	path = deps/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
	branch = develop
